body {
    margin: 0px;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black;
    
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 210px 140px ;
    align-items: center;
    row-gap: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    justify-content: flex-start;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    column-gap: 20px;
    
    
}

a  {
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 5px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 5px;
}

.placeholder {
    font-size: 16px;
    color: #E5E7EB;
    flex: 0 0 50%;
    margin-left: auto;
    
    
}
.list {
    
    flex: 1 1 50%;
    
}
.content {
    flex: 0 0 40%;
}

button {
    width: 128px;
    height: 40px;
    border-radius: 15px;
    background-color: royalblue;
    color: white;
    font-weight: 700;
    font-size: large;
    border: none
    
}
.button {
    margin: 10px 0px;
}

.placeholder div {
    background-color: #6d747d;
    height: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.section-1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 45px 45px 120px 45px;
}

.top-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 48px;
}
.boxes {
    display: flex;
    justify-content: center;
    column-gap: 35px;
}

.box {
    border: 4px solid royalblue;
    margin: 5px;
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 10%;
}

.info {
    padding: 5px;
    color:#6d747d;
}

.section-2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thor {
    max-width: 750px;
    padding: 130px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;

}

.signature {
    font-size: 24px;
    color: #1F2937;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
}

